
#header {
	position:relative;
	width:auto;
	height:150px;
}

.footer {
	position: absolute;
	bottom: 0;

}


button {
	position:center;
}

.Welcome {
	width:250px;
	height: 400px;
	margin-left:10px;
	text-align: center;
	font-family:Lato;
	float:left;
	border-style:round;
	background-color: red;
}

.Popular_Departments {
	width:400px;
	height: 400px;
	margin-left:10px;
	text-align: center;
	float:left;
}

.Clothing {
	width:300px;
	height: 400px;
	margin-left:10px;
	text-align: center;
	float:left;
}

.Deals{
	width:300px;
	height: 400px;
	margin-left:10px;
	text-align: center;
	float:left;
}
